<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block titre %}

              | Allofilm


    {% endblock  %}</title>

    


    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{ asset('css/modern-business.css') }}" rel="stylesheet">
    
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

{% block css %}
              
{% endblock  %}

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" href="{{path('troiswa_public_homepage')}}">Allofilm</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{path('troiswa_public_films')}}">Films</a>
                    </li>
                    <li><a href="{{path('troiswa_public_acteurs')}}">Acteurs</a>
                    </li>
                    <li><a href="{{path('troiswa_public_categories')}}">Catégories</a>
                    </li>
                    <li class="dropdown">
                        <a href="{{path('troiswa_public_contact') }}">Contact</a>
                       
                        
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li><a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li><a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Imen HAJ SALAH <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            
                            <li><a href="{{ path('troiswa_public_admin_acteur_ajouter') }}">ajouter acteur</a>
                            </li>
                            


                            <li><a href="{{ path('troiswa_public_admin_film_ajouter') }}">ajouter film</a>
                            </li>
                            
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{% block body %}




{% endblock  %}


       

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="{{ asset('js/jquery-1.10.2.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/modern-business.js') }}"></script>
    
   
    {% block etoile %}
    
    {% endblock  %}   
   
</body>

</html>
