 {% extends 'TroiswaPublicBundle::layout.html.twig' %}

    {% block titre %}

      Ajouter films  


    {% endblock  %}


{% block css %}
    
    <link href="{{ asset('css/test.css') }}" rel="stylesheet">
          

{% endblock  %}



{% block body %}



    {% for message in app.session.flashbag.get('info') %}
    
        <div class="alert alert-success">{{ message }}</div>
    
    {% endfor %}
    
    {# form(formActeur) #}



{# colone dimention et offset pour decaler  #}
<br>

<div class="row">
    
    <div class="col-md-4 col-md-offset-4" class="form">    
     
     {# on enleve validation html5 #}
    {{ form_start(formFilm, { 'attr' : { 'novalidate' : 'novalidate' } } ) }}  

           <div class="form-group">   
            
            {# genere le label #}
            {{ form_label(formFilm.titre, null, {'label_attr' : {'class': 'color'} } ) }}  
            {# genere l'input  #}
            {{ form_widget(formFilm.titre, { 'attr' : { 'class' : 'form-control',
            'placeholder' : "Inscrivez le titre du film" } } ) }}
            {# affiche les erreur #}
            {{ form_errors(formFilm.titre) }}
         
          </div>
        
        <br>
      
          <div class="form-group">  
            
            {{ form_label(formFilm.genre, null, {'label_attr' : {'class': 'color'} }) }}  

            {{ form_widget(formFilm.genre, { 'attr' : { 'class' : 'form-control',         'placeholder' : "Inscrivez le genre du film" } } ) }}

            {{ form_errors(formFilm.genre) }}
          
          </div>
          
        <br>
          
          <div class="form-group">  
            
            {{ form_label(formFilm.dateCreation, null, {'label_attr' : {'class': 'color'} }) }}  

            {{ form_widget(formFilm.dateCreation, { 'attr' : { 'class' : '' } } ) }}

            {{ form_errors(formFilm.dateCreation) }}
          
          </div>
          
        <br>
          
          <div class="form-group">  
            
            {{ form_label(formFilm.realisateur, null, {'label_attr' : {'class': 'color'} }) }}  

            {{ form_widget(formFilm.realisateur, { 'attr' : { 'class' : '' } } ) }}

            {{ form_errors(formFilm.realisateur) }}

          </div>

        <br>
          
          <div class="form-group">  
            
            {{ form_label(formFilm.fichier, null, {'label_attr' : {'class': 'color'} }) }}  

            {{ form_widget(formFilm.fichier, { 'attr' : { 'class' : '' } } ) }}

            {{ form_errors(formFilm.fichier) }}

          </div>

        <br>
          
          <div class="form-group">    
            
            {{ form_label(formFilm.spectateur, null, {'label_attr' : {'class': 'color'} }) }}

            {{ form_widget(formFilm.spectateur) }}  

            <span class="note"></span>
            
            {{ form_errors(formFilm.spectateur) }}

          </div>

          
        
        


        <br>  
          
          <div class="form-group">  
            
            {{ form_label(formFilm.synopsis, null, {'label_attr' : {'class': 'color'} }) }}  

            {{ form_widget(formFilm.synopsis, { 'attr' : { 'class' : 'form-control', 'placeholder' : "synopsis"  } } ) }}

            {{ form_errors(formFilm.synopsis) }}

          
          </div>
        
        <br>  
       
       {{ form_widget(formFilm.ajouter, { 'attr' : { 'class' : 'btn btn-danger' } } ) }}
        

    {{ form_end(formFilm) }} 
<br>  
    </div>

</div>

{% endblock  %}  


{% block etoile %}
     
     <script src="{{ asset('js/jquery.raty.js') }}"></script>       

        <script>
                
                $(document).ready(function() {
                    
                    $(".note").raty({
                        path: "{{app.request.basePath }}/js/lib/images", scoreName:"{{ formFilm.vars.name }}[spectateur]"
                         
                        
                    });
                
                $(".note input").val(0)
                
                });
                
        </script>

    {% endblock  %}