{% extends 'TroiswaPublicBundle::layout.html.twig' %}

{% block titre %}

  Mon film        


{% endblock  %}

{% block body %}


<div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">The Holiday <small>Description</small></h1>
                
                <ol class="breadcrumb">
                    <li><a href="{{path('troiswa_public_homepage') }}">Home</a>
                    </li>
                    <li><a href="{{path('troiswa_public_films') }}">films</a>
                    </li>
                    <li>{{ film.titre }}</a>
                    </li>

                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-md-8">
                 <img class="img-responsive" src="{{ asset(film.webPath) }}">
            </div>

            <div class="col-md-4">
                <h3>{{ film.titre }}</h3>
                <ul>
                    <li>Réalisateur: {{ film.realisateur }}</li>
                    <li>Date de sortie: {{ film.dateCreation|date('d-m-Y') }}</li>
                    

                    <li>catégorie: {% if film.categorie %}
                                   {{ film.categorie.titre }}
                                   {% endif %}</li>


                    <li>Spectateurs: <div class="note" data-score="{{ film.spectateur }}"></div></li>
                </ul>
                
                <h4>Synopsis : <br><h4> 

                <p>{{ film.synopsis }}</p>
                
                
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Si vous aimez ce film, vous pourriez aimer ...
</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
                </a>
            </div>

        </div>

    </div>
    <!-- /.container -->
 
    {% endblock  %}

    

    {% block etoile %}
     
     <script src="{{ asset('js/jquery.raty.js') }}"></script>       

        <script>
                
                $(document).ready(function() {
                    
                    $(".note").raty({readOnly: true,
                        path: "{{app.request.basePath }}/js/lib/images",
                        score: function() {
                           return $(this).attr('data-score');
                        }
                    });
                
                });
                
        </script>

    {% endblock  %}