 {% extends 'TroiswaPublicBundle::layout.html.twig' %}

{% block titre %}

  Nos catégories  {{ parent() }}           


{% endblock  %}

{% block body %}





 <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">La liste de toutes les catégories
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{path('troiswa_public_homepage')}}">Home</a>
                    </li>
                    <li class="active">Catégories</li>
                </ol>
            </div>

        </div>

    {% for categorie in categories %}
            
        <div class="row">

            <div class="col-lg-12">

                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ loop.index }}">
                    
                    {{ categorie.titre }}
                  
                  </a>
                            </h4>
                        </div>
                        

                        <div id="collapse-{{ loop.index }}" class="panel-collapse collapse">
                        
                       
                            
                            <div class="panel-body">
                          
                          {% if categorie.films %}     
                             
                             {% for film in categorie.films %}
                                
                                <a href="{{ path('troiswa_public_film',{"number": film.id }) }}"> {{ film.titre }} </a> 
                            
                            {% endfor %} 
                            
                            </div>
                         
                        {% endif %} 
                        
                        </div>
                    
                    </div>

                   
                </div>

            </div>

        </div>
    
    {% endfor %} 
    
</div>

{% endblock  %}